html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: black;
  background-color: #eceff1;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.site-header {
  padding: 0;
}

.contenedor-header {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.contenido-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.contenedor {
  width: 95%;
  max-width: 100rem;
  margin: 0 auto;
  background-color: white;
  border-radius: 0rem;
  padding: 0rem 8rem;
}

.contenedor-detalle {
  border-radius: 1.5rem;
  max-width: 80rem;
  margin: 0 auto;
  background-color: #ffbc61;
  box-shadow: 0 1px 5px 0 hsla(0, 0%, 61%, 0.5);
  padding: 0rem 0rem;
}

.margen {
  margin: 8rem auto;
  min-height: 375px;
}

.contenedor-carrito {
  border-radius: 0.5rem;
  max-width: 60rem;
  margin: 0 auto;
  background-color: #ffbc61;
  box-shadow: 0 1px 5px 0 hsla(0, 0%, 61%, 0.5);
}

.seccion-carrito {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.contenedor-total{
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 1px 5px 0 hsla(0, 0%, 61%, 0.5);
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-width: 420px;
}

.seccion {
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.seccion-detalle {
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  align-items: center;
}

.contenido-centrado {
  max-width: 800px;
  min-width: 500px;
}

.form-detalle {
  background-color: white;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-carrito {
  width: 100%;
  background-color: white;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 2rem;
  min-width: 420px;
}

.datos {
  width: 50%;
  height: 100%;
}
.subtotal {
  width: 25%;
  height: 100%;
}

.eliminar {
  height: 100%;
  width: 25%;
}

.total-compra{
  background-color: white;
  width: 50%;
  padding: 0rem 3rem
}

.total-text{
  background-color: white;
  width: 25%;
  text-align: end;
  padding: 1.5rem;
}
.total{
  background-color: white;
  width: 25%;
  padding: 1.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.nombre {
  margin: 0.5rem;
  color: #3f51b5;
  font-weight: 700;
}

.precio {
  margin: 0.5rem;
  color: #00796b;
  font-weight: 400;
}

form {
  padding: 1.5rem;
}

fieldset {
  border-radius: 1rem;
  border-color: #6573c3;
  min-width: 310px;
}

legend {
  font-size: 2rem;
  color: #4f4f4f;
}

label {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

input,
textarea {
  padding: 1rem;
  display: block;
  width: 95%;
  background-color: #eceff1;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1rem;
}

.dato {
  display: block;
  width: 95%;
  margin: 0rem 0rem 0.5rem 0.7rem;
}

.entrada-blog a {
  display: inline-block;
  background-color: #3f51b5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

.descripcion {
  background-color: #3f51b5;
  color: white;
  padding: 0rem 1.2rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0.5rem;
  text-align: center;
}

p {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.btnComprar {
  background-color: #f4511e;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 40px;
  text-decoration: none;
  margin: 0rem 0rem 1rem 0rem;
  width: 100%;
}

.btnComprar:hover {
  background-color: #b23c17;
}
.btnComprar:focus {
  background-color: #f4511e;
}

.btnEnviar {
  background-color: #3f51b5;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 40px;
  text-decoration: none;
  margin: 0rem 0rem 1rem 1.5rem;
}

.btnEnviar:hover {
  background-color: #2c387e;
}
.btnEnviar:focus {
  background-color: #3f51b5;
}

.btnEliminar {
  background-color: #d32f2f;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 40px;
  text-decoration: none;
  margin: 0.5rem;
}

.btnEliminar:hover {
  background-color: #b71c1c;
}
.btnEliminar:focus {
  background-color: #d32f2f;
}


.btnTerminar {
  background-color: #f4511e;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 40px;
  text-decoration: none;
  margin: 0.5rem;
}

.btnTerminar:hover {
  background-color: #b23c17;
}
.btnTerminar:focus {
  background-color: #f4511e;
}

.btnCarrito {
  background-color: #f4511e;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px 40px;
  text-decoration: none;
  margin: 0rem 0rem 1rem 0rem;
}

.cantidad {
  float: right;
  margin-left: 1.5rem;
}
.cantidad input {
  width: 85%;
}

.btnCarrito:hover {
  background-color: #b23c17;
}
.btnCarrito:focus {
  background-color: #f4511e;
}

@media (min-width: 768px) {
  .tres-columnas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

.banner {
  width: 100rem;
  height: 42rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
article {
  padding: 2rem 4rem;
}

h6 {
  margin: 0.5rem;
  color: #3f51b5;
}

.img-beer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imagen {
  float: left;
}

.img-beer-detail {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.item {
  border-radius: 1.5rem;
  border-style: solid;
  border-width: thin;
  border-color: #fbe9e7;
  background-color: #eceff1;
  min-width: 190px;
  box-shadow: 0 1px 5px 0 hsla(0, 0%, 61%, 0.5);
}

.item:hover {
  background-color: #ffbc61;
}

.mensaje {
  color: #3f51b5;
  padding-left: 2rem;
  background-color: #e8eaf6;
  border-radius: 1.5rem;
  padding: 0rem 0.8rem;
}

/** Navegacion **/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  overflow: hidden;
  background-color: #3f51b5;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 28px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #2c387e;
}

li:last-child {
  float: right;
  padding: 0 0;
  background-color: #ff5722;
}
li:last-child a:hover {
  background-color: #b23c17;
}

.icono-carrito {
  width: 30px;
  height: 24px;
}
.logo {
  width: 110px;
  height: 80px;
  padding: 0rem;
}

/*Footer*/

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 30px 1rem 30px;
  color: white;
  background-color: #000000;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 0.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  background-color: black;
}

.footer li:last-child {
  background-color: black;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
