html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

body {
    background-color: #009688;
    color: #00796b;
    background: linear-gradient(to right, #03dac6, #018786);
    font-family: base-font-family;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
}

.site-header {
    background: linear-gradient(to right, #03dac6, #018786);
    padding: 0 0 3rem 0;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    background-color: white;
    border-radius: 1.5rem;
}
.contenedor-header {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.seccion {
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.contenido-centrado {
    max-width: 800px;
}

.contenido-centrado-login {
    max-width: 600px;
}
.margen-login{
    margin-top: 3rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/** Navegacion **/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6200ee;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #3700b3;
}

li:last-child {
    float:right
  }

legend {
    font-size: 2rem;
    color: #4f4f4f;
}

label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

input,
select {
    padding: 1rem;
    display: block;
    width: 90%;
    background-color: #eceff1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

.btnEnviar {
    background-color: #2962ff;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 40px;
    text-decoration: none;
    margin: 0rem 0rem 1rem 1.5rem;
}

form {
    padding: 1.5rem;
}

.btnRegresar {
    background-color: #0097a7;
    color: white;
    margin: 1rem 1rem 0rem 1.5rem;
}

button {
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 40px;
    text-decoration: none;
}

#titulo {
    background-color: #00838f;
    color: white;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5;
}

#tabla {
    border-collapse: collapse;
    background-color: #ffffff;
    color: black;
}

.btnEditar {
    background-color: #00695c;
    color: white;
}
.btnCancelar {
    background-color: #d32f2f;
    color: white;
}

.btnLogin {
    background-color: #2962ff;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 40px;
    text-decoration: none;
    margin: 0rem 0rem 1rem 1.5rem;
    width: 93%;
}

.anuncio {
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
    margin-top: 1.2rem;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
}

.contenido-anuncio {
    padding: 1rem 2rem;
}
.contenido-anuncio p {
    margin: 1rem;
    color: #4f4f4f;
}
h1 {
    text-align: center;
    margin-bottom: 0rem;
}

h3 {
    margin: 0rem 0.5rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mensaje{
    color: #d32f2f;
    padding-left: 2rem;
}